# Virtual environment directory
venv
.venv

# Cache directories and byte-code files
*.py[cod]
__pycache__/
.pytest_cache/
.ipynb_checkpoints
.coverage

# Editor directories and files
.idea
.vscode
.vs

# Local solutions directory
solutions